.sidebar {
  position: fixed;
  top: 69px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 290px;  /*width + 40*/
  }
}

@media (max-width: 767px) {
  .main {
    padding-right: 40px;
    padding-left: 80px;  /*width + 40*/
  }
}

.navbar-brand {
  font-family: 'Roboto Mono', monospace;
  word-spacing: -.4em;
  font-size: 1.8em;
}

.nav-gh, .nav-twitter {
  font-size: 1.4em !important;
  color: black !important;
}

.nav-pin {
  font-size: 1.5em !important;
}

.nav-work, .nav-email {
  font-size: 1.2em !important;
}

.nav-top {
  z-index: 1001;
}

#full-width {
  width: 250px;
}

#small-width {
  width: 70px;
}

pre {
  padding: 1em 3em;
}